.interna_sobre{
    background: url("../img/bg-sobre.jpg") no-repeat center;
    background-size: cover;
}

.missao_sobre{
    padding-top: 3.75rem;
}

.missao_sobre p{
    font-size: 18px;
    line-height: 1.389rem;
    margin-bottom: 1em;
    padding-right: 3.333rem;
}

.missao_sobre ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.389rem;
}

.foto-equipe{
    padding-top: 1.125rem;
}